.main-container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(225, 223, 241);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 20% 60% 20%;
    justify-items: stretch;
    overflow: auto;
}

.survey-container{
    width: 100%;
    height: 100%;
    background-color: rgb(238, 238, 238);
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 2px 2px 10px 1px rgba(189, 148, 255, 0.541);
    -webkit-box-shadow: 2px 2px 10px 1px rgba(189, 148, 255, 0.541);
    -moz-box-shadow: 2px 2px 10px 1px rgba(189, 148, 255, 0.541);
    overflow: hidden; 
    display: grid; 
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    justify-items: stretch;
    overflow: hidden;

}

.animation img{
	width: 90%;
	opacity: 0.9;
	max-width: 300px;
}

.animation {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    /*background-color: rgb(114, 52, 212);*/
    background-color: #464efd;
    background-image: linear-gradient(135deg, #754fff 0%, #8443d4 100%);
    overflow: hidden;
    box-shadow: 5px 0 4px -3px rgba(189, 148, 255, 0.541);
    -webkit-box-shadow: 5px 0 4px -3px rgba(189, 148, 255, 0.541);
    -moz-box-shadow: 5px 0 4px -3px rgba(189, 148, 255, 0.541);
display: flex;
    align-items: flex-end;
	justify-content: center;
}

.loading{
    position: relative;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 5px;
    top: 30%;
    border-radius: 50%;
    background: none repeat scroll 0 0 #DDDDDD;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1) inset, 0 0 25px rgba(0,0,255,0.075);
}

.loading:after{
    content: "";
    position: absolute;
    top: 20px; left: 20px;
    display: block;
    height: 60px; width: 60px;
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.loading > span{
    position: absolute;
    height: 100%; width: 100%;
    overflow: hidden;
}

.inside{
    left:0
}

.piechart { 
    margin-top: 10%;
    display: block; 
    position: absolute; 
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
} 

.anim{
    position: absolute;
    left: 50%; top: 0;
    height: 100%; width: 100%;
    background: none repeat scroll 0 0  #754fff;
    opacity: 0.8;
    -webkit-animation: ui-spinner-rotate-left 3s infinite;
    animation:  ui-spinner-rotate-left 3s infinite;
    transform-origin: 0 50% 0;
}

@keyframes ui-spinner-rotate-left{
    0%{transform:rotate(0deg)}
    25%{transform:rotate(0deg)}
    50%{transform:rotate(180deg)}
    75%{transform:rotate(180deg)}
    100%{transform:rotate(360deg)}
  }
  @-webkit-keyframes ui-spinner-rotate-left{
    0%{-webkit-transform:rotate(0deg)}
    25%{-webkit-transform:rotate(0deg)}
    50%{-webkit-transform:rotate(180deg)}
    75%{-webkit-transform:rotate(180deg)}
    100%{-webkit-transform:rotate(360deg)}
  }

#progress-bar{
    margin: 20px;
    background-color: rgb(184, 184, 184);
    width: 90%;
    height: 10px;
    border-radius: 5px;
}

#progress-made{
    background-color: rgb(255, 135, 65);
    height: 100%;
    width: 50%;
    border-radius: 5px;
    transition: all .4s linear;
}

.survey{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 1s linear;
}

.chart{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 30%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.bar{
    position: relative;
    height: 100%;
    border-radius: 5px;
    background: rgb(167, 167, 167);
    width: 20px;
    overflow: hidden;
}

.fill-bar{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30%;
    background: hotpink;
}

.question-container{
    width: 100%;
    padding: 20px;
    padding-top: 60px;
}

#question{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(41, 0, 95);
    font-family: 'Gill Sans', sans-serif;
}

input.answer-input{
    visibility: hidden;
}

label.answer-label{
    cursor: pointer;
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(78, 78, 78);
    vertical-align: middle;
    width: 100%;
    height: 100%;
    display: table-cell;
    border: rgb(212, 212, 212) solid 2px;
    transition: all .2s ease;
}

input:checked + label{
    border:  rgb(255, 160, 105) solid 2px;
    box-shadow: 0px 0 4px rgb(255, 135, 65);
    -webkit-box-shadow: 0px 0 4px rgb(255, 135, 65);
    -moz-box-shadow: 0px 0 4px rgb(255, 135, 65);
}

.survey-answer{
    display: table;
    text-align: center;
    width: 160px;
    height: 60px;
    margin: 10px;
}

.answers-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin-bottom: 40px;
    position: absolute;
    bottom: 60px;
}

.definition{
    color: rgb(41, 0, 95);
    font-size: 14px;
    font-family: 'Gill Sans', sans-serif;
    margin: 5px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }

.opacity-0{
    opacity: 0%;
}

.btn-move{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: rgb(212, 212, 212) solid 2px;
    color: rgb(126, 126, 126);
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    cursor: pointer;
    transition: all .2s ease;
    font-family: 'Gill Sans', sans-serif;
}

.btn-move:hover{
    border:  rgb(255, 160, 105) solid 2px;
    box-shadow: 0px 0 4px rgb(255, 135, 65);
    -webkit-box-shadow: 0px 0 4px rgb(255, 135, 65);
    -moz-box-shadow: 0px 0 4px rgb(255, 135, 65);
}

.disabled{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    cursor: default;
    opacity: 0.4;
    pointer-events: none;
}

.buttons-container{
    width: 100%;
    display: grid;
    position: absolute;
    bottom: 10px;
    grid-template-columns: 40px 40px 1fr 40px 40px;
    grid-template-rows: 40px;
    justify-items: center;
    align-items: center;
}

#btn-left{
    grid-column: 2/3;
    grid-row: 1/2;
}

#btn-right{
    grid-column: 4/5;
    grid-row: 1/2;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


  
.legend{
    display: flex; 
    width: 100%;
    flex-direction: row; 
    height: 30px; 
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .tag{
    font-family: 'Gill Sans', sans-serif;
    color: rgb(78, 78, 78);
  }
  
  .space{
    width: 19px;
  }
  .color-box{
    width: 10px; 
    height: 10px; 
    margin: 5px;
    border-radius: 50%;
    -webkit-box-shadow: 5px 0 4px -3px rgba(189, 148, 255, 0.541);
  }
  .chart{
      display: flex;
      width: 100%;
      flex-direction: row;
      height: 30%;
      margin-top: 15%;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
  }
  
  .bar{
      position: relative;
      height: 100%;
      margin: 15px;
      border-radius: 3px;
      background: rgb(206, 206, 206);
      width: 20px;
      overflow: hidden;
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1) inset, 0 0 25px rgba(0,0,255,0.075);
  }
  
  .fill-bar{
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 30%;
      -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.6);
  }
  
  .a-color{
    background: #FF9C63;
  }
  .b-color{
    background: #8E71F5;
  }
  .c-color{
    background: #6C26C2;
  }
  .d-color{
    background: #C323E0;
  }
  